<ul class="nav-list unstyled inline">
    <li>
        <a class="active" href="#witamy">Witamy</a>
    </li>
    <li>
        <a href="#zakres">Zakres i przebieg badań</a>
    </li>
    <li>
        <a href="#przygotowanie">Przygotowanie do badań</a>
    </li>
    <li>
        <a href="#kontakt">Kontakt</a>
    </li>
</ul>