/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-04-14, 13:23:22
    Author     : Tomek
*/
@mixin sticker($height) {
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
    position: fixed;
    /*Override default*/
    height: $height !important;
    transition: height .3s;
    z-index: 1020;
    top: 30px;
    .upper-nav {
        ul {
            /*Override default*/
            line-height: $height !important;
            transition: line-height .3s;
        }
    }
}

