/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-04-14, 08:44:57
    Author     : Tomasz Jacek
*/

@media (max-width: 1350px) {
    .container {
        width: 768px;
    }
    .text-container {
        max-width: 100%;
        width: 100%;
    }
    .icon-container {
        display: flex;
        margin: 0 auto;
    }
    h3 {
        &.icon-header {
            margin-top: 20px;
            text-align: center;
        }
    }
    h2 {
        &.section-title {
            text-align: center;
            width: 100%;
        }
    }
    .slider-section {
        height: 600px;
        .slider-text {
            margin-top: -50px;
        }
    }
    p {
        text-align: justify;
    }
    .section {
        padding: 25px 0;
    }
}
@media (max-width: 1050px) {
    .header {
        .upper-section {
            justify-content: center;
        }
        .brand-section {
            display: block;
            padding: 0;
            height: auto;
            width: 100%;
            .brand {
                height: 100px;
                /*Override bootstrap*/
                float: none !important;
                margin-top: -20px;
            }
            .upper-nav {
                /*Override bootstrap*/
                float: none !important;
                display: none;
                margin-top: 15px;
                @include position(absolute, 1001);
                top: 160px;
                left: 0;
                width: 100%;
                ul {
                    display: block;
                    line-height: normal;
                    li {
                        background-color: #fff;
                        border-bottom: 1px solid #d5d5d5;
                        display: block;
                        height: auto;
                        padding: 10px 0;
                        text-align: center;
                        &:first-child {
                            padding-top: 0;
                        }
                        &:after {
                            display: none;
                        }
                    }
                }
            }
            .nav-collapse-btn {
                display: block;
            }
        }
        .brand, .upper-nav {
            float: none;
            margin: 0 auto;
        }
    }
}
@media (min-width: 1049px) {
    .sticky {
        @include sticker(60px);
        border-bottom: 1px solid #d8d8d8;
        width: 100% !important;
    }
    .upper-nav {
        display: block !important;
    }
}
@media (max-width: 1050px) {
    .sticky {
        @include sticker(105px);
        .upper-nav {
            top: 89px !important;
            ul {
                /*override mixin*/
                line-height: normal !important;
            }
        }
        .brand {
            /*override default*/
            transition: height .3s;
            height: 60px !important;
        }
    }
}
@media (max-width: 1000px) {
    .gallery {
        ul {
            justify-content: center;
            li {
                margin-bottom: 20px;
                margin-right: 20px;
                width: 20%;
            }
        }
    }
}
@media (max-width: 960px) {
    .left-col, .right-col {
        border: none !important;
        float: none;
        padding: 0 !important;
        width: 100% !important;
    }
    .section-title {
        font-size: 20px;
    }
    .nav-tabs {
        .active {
            a {
                border: 1px solid #ddd !important;
                border-radius: 2px !important;
                display: block;
            }
        }
        li {
            text-align: center;
            width: 100%;
        }
    }
    .przebieg {
        padding-top: 25px !important;
    }
}
@media (max-width: 800px) {
    .slider-section {
        .container {
            width: 320px;
        }
        .slider-text {
            /*Override default*/
            background-size: contain !important;
            margin-top: 0;
            width: 100%;
            h1 {
                font: {
                    size: 28px;
                }
            }
        }
        ul {
            li {
                &:last-child {
                    .header-container {
                        top: 0;
                    }
                    h1 {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    .upper-section {
        .container {
            width: 100%;
        }
    }
    .slider-section {
        height: 400px;
        .container{
            padding-top: 100px;
        }
    }
    .red-btn {
        font-size: 14px;
    }
    .container {
        width: 320px;
    }
    #przygotowanie {
        background: none;
    }
}
@media (max-width: 780px) {
    .footer {
        .container {
            width: 320px;
        }
        ul {
            &.inline {
                display: block;
                li {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width: 760px) {
    .upper-section {
        height: auto;
        p {
            // Overiding floating
            float: none !important;
            text-align: center;
        }
    }
    .header {
        padding-top: 65px;
        .brand-section {
            .upper-nav {
                margin-top: 50px;
            }
        }
    }
    .sticky {
        top: 60px;
        .upper-nav {
            // Overriding larger screens
            top: 53px !important;
        }
    }
    .gallery {
        ul {
            display: block;
            li {
                max-width: 100%;
                width: 100%;
                .img-container {
                    img {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

