/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-04-10, 08:00:29
    Author     : Tomasz Jacek
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-04-14, 13:23:22
    Author     : Tomek
*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 16px; }

p {
  color: #555;
  font-size: 13px; }

clearfix:before, clearfix:after {
  content: " ";
  display: table; }
clearfix:after {
  clear: both; }

.offset-parent {
  position: relative;
  z-index: 1001; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

ul.unstyled {
  list-style: none;
  padding: 0;
  margin: 0; }
ul.inline li {
  display: inline-block; }
ul.styled {
  list-style: disc !important;
  padding-left: 15px; }
  ul.styled li {
    display: list-item; }

.left-col, .right-col {
  width: calc(50% - 25px); }

.left-col {
  float: left; }

.right-col {
  float: right; }

.container {
  margin: 0 auto;
  width: 1310px; }

h3.icon-header {
  color: #2d3062;
  margin-top: 0; }

.red-btn {
  border-radius: 3px;
  background-color: #b02b2c;
  border: 1px solid #8b2121;
  color: #fff;
  display: inline-block;
  padding: 15px;
  font-weight: 700;
  transition: background .3s;
  text-decoration: none;
  text-transform: uppercase; }
  .red-btn:hover {
    background-color: #8b2121;
    color: #fff;
    text-decoration: none; }

.small-icons {
  /*Override for scalling animation*/
  height: 20px !important;
  width: 20px !important; }
  .small-icons i {
    font-size: 12px !important; }

.nav-collapse-btn {
  position: relative;
  z-index: 1002;
  color: #555;
  display: none;
  margin: 10px auto 18px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none; }

.upper-section {
  position: fixed;
  z-index: 1021;
  background-color: #fff;
  height: 30px;
  line-height: 30px;
  padding: 0 2%;
  width: 100%;
  transition: all .3s;
  border-bottom: 1px solid #e1e1e1; }
  .upper-section a {
    color: #2d3062;
    font-weight: 600;
    text-decoration: none; }
  .upper-section p {
    margin: 0; }
  .upper-section i {
    color: green; }

.header {
  background-color: #fff;
  z-index: 1020;
  padding-top: 30px;
  width: 100%; }
  .header .brand-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    transition: height .3s;
    height: 100px;
    width: 96%; }
    .header .brand-section .brand {
      background: url("../images/logo.png") no-repeat;
      background-position: top center;
      background-size: contain;
      height: 100%;
      width: 300px; }
      .header .brand-section .brand a {
        display: block;
        height: 100%; }
      .header .brand-section .brand h1 {
        opacity: 0; }
    .header .brand-section .upper-nav {
      height: 100%;
      font-weight: 600;
      transition: line-height .3s; }
      .header .brand-section .upper-nav ul {
        height: 100%;
        line-height: 100px; }
        .header .brand-section .upper-nav ul li {
          position: relative;
          z-index: 1001;
          padding: 0 5px;
          height: 100%; }
          .header .brand-section .upper-nav ul li a:after, .header .brand-section .upper-nav ul li a.active:after {
            position: absolute;
            z-index: 1002;
            background-color: #2997ab;
            bottom: 0;
            content: "";
            left: 0;
            margin: auto;
            right: 0;
            width: 0;
            transition: width .3s;
            height: 2px; }
          .header .brand-section .upper-nav ul li a:hover:after, .header .brand-section .upper-nav ul li a.active:after {
            width: 100%; }
      .header .brand-section .upper-nav a {
        color: #2d3062;
        height: 100%;
        display: block;
        padding: 0 5px;
        text-decoration: none; }

.slider-section {
  height: 840px; }
  .slider-section .container {
    padding-top: 200px;
    text-align: center; }
  .slider-section .slider-text {
    position: relative;
    z-index: 1001;
    display: inline-block;
    margin-left: -10000px;
    opacity: 0;
    transition: margin-left 1.5s, opacity 1.5s;
    height: 340px;
    width: 460px; }
    .slider-section .slider-text ul li {
      width: auto; }
    .slider-section .slider-text .header-container {
      position: absolute;
      z-index: 1002;
      left: 0;
      right: 0;
      top: -40px;
      padding: 0 40px; }
    .slider-section .slider-text h1 {
      color: #fff;
      font-size: 38px;
      font-family: 'Source Sans Pro';
      font-weight: 700;
      line-height: 95%;
      text-align: center;
      text-transform: uppercase; }
  .slider-section ul {
    height: 100%; }
    .slider-section ul li {
      /*Override Cycle2*/
      background-position: center center !important;
      background-size: cover !important;
      height: 100%;
      width: 100%; }
      .slider-section ul li:last-child .header-container {
        top: 15px; }
      .slider-section ul li.cycle-slide-active .slider-text {
        margin-left: 0 !important;
        opacity: 1;
        transition: margin-left 1.5s, opacity 1.5s; }

.section-title {
  color: #2d3062;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  width: 80%; }

.bolded {
  font-weight: 700; }

.section {
  clear: both;
  padding: 35px 0; }
  .section .left-col {
    padding-right: 25px; }
  .section .right-col {
    padding-left: 25px; }
  .section i, .section .text-container {
    display: inline-block;
    vertical-align: top; }
  .section p {
    line-height: 180%; }

.text-container {
  max-width: 78%; }

.icon-container {
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  opacity: 0;
  height: 80px;
  width: 80px;
  transition: opacity .3s ease .2s; }
  .icon-container i {
    color: #fff;
    font-size: 30px; }

.przygotowanie, .przeciwskazania {
  width: calc(50% - 15px); }
  .przygotowanie ul li, .przeciwskazania ul li {
    font-size: 12px;
    line-height: 180%;
    margin-top: 30px; }
  .przygotowanie ul.block li, .przeciwskazania ul.block li {
    color: #2d3062;
    margin-top: 0; }

.przygotowanie {
  padding-right: 25px; }
  .przygotowanie .icon-container {
    background-color: #2997ab; }

#przygotowanie {
  padding: 0; }
  #przygotowanie .container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap; }

.przeciwskazania {
  border-left: 1px solid #e5e5e5;
  padding-left: 35px !important; }
  .przeciwskazania .icon-container {
    background-color: #b72f2f; }

.zakres {
  font-size: 13px;
  line-height: 180%; }
  .zakres .panel {
    border-radius: 0;
    border-bottom: 0;
    margin-top: 0 !important; }
    .zakres .panel:last-child {
      border-bottom: 1px solid #ddd; }
    .zakres .panel a {
      text-decoration: none; }
  .zakres .panel-body {
    background-color: #e1e1e1; }
  .zakres a {
    display: block; }

.gallery ul {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .gallery ul li {
    opacity: 1;
    transition: opacity .5s ease .3s;
    width: 10%; }
    .gallery ul li .img-container {
      overflow: hidden; }
    .gallery ul li img {
      display: block;
      max-width: 100%; }

.footer {
  padding: 45px 0 55px;
  background-color: #ededed; }
  .footer h3 {
    color: #2d3062;
    font-size: 13px; }
  .footer ul.inline {
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between; }
    .footer ul.inline li {
      width: 24%; }
  .footer ul.block-list li {
    width: 100%; }
  .footer ul.nav-list {
    display: block; }
    .footer ul.nav-list li {
      display: block;
      width: 100%; }
  .footer ul li {
    color: #555;
    font-size: 12px;
    line-height: 180%; }
  .footer h3 {
    max-width: 80%; }
  .footer a {
    color: #555;
    text-decoration: none; }
  .footer .icon i, .footer .icon a {
    display: inline-block; }
  .footer .icon i {
    font-size: 15px;
    font-weight: 400; }

.copyright {
  background-color: #ededed;
  border-top: 1px solid #c2c6cc;
  color: #555;
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 10px; }
  .copyright a {
    color: #555;
    margin-left: 15px; }

/*Tabs*/
.nav-tabs a {
  color: #555; }
.nav-tabs .active a {
  /*Overwrite bootstrap*/
  background-color: #f2f2f2 !important; }

.tab-content {
  background-color: #f2f2f2;
  border: 1px solid #d6d9d9;
  border-top: none;
  border-radius: 2px;
  padding: 20px; }

.maps {
  background-color: #fff;
  padding-bottom: 65px; }
  .maps .embed-responsive-16by9 {
    height: 320px;
    padding-bottom: 0;
    margin: 30px 0 15px; }
  .maps iframe {
    height: 320px;
    width: 100%; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-04-14, 08:44:57
    Author     : Tomasz Jacek
*/
@media (max-width: 1350px) {
  .container {
    width: 768px; }

  .text-container {
    max-width: 100%;
    width: 100%; }

  .icon-container {
    display: flex;
    margin: 0 auto; }

  h3.icon-header {
    margin-top: 20px;
    text-align: center; }

  h2.section-title {
    text-align: center;
    width: 100%; }

  .slider-section {
    height: 600px; }
    .slider-section .slider-text {
      margin-top: -50px; }

  p {
    text-align: justify; }

  .section {
    padding: 25px 0; } }
@media (max-width: 1050px) {
  .header .upper-section {
    justify-content: center; }
  .header .brand-section {
    display: block;
    padding: 0;
    height: auto;
    width: 100%; }
    .header .brand-section .brand {
      height: 100px;
      /*Override bootstrap*/
      float: none !important;
      margin-top: -20px; }
    .header .brand-section .upper-nav {
      /*Override bootstrap*/
      float: none !important;
      display: none;
      margin-top: 15px;
      position: absolute;
      z-index: 1001;
      top: 160px;
      left: 0;
      width: 100%; }
      .header .brand-section .upper-nav ul {
        display: block;
        line-height: normal; }
        .header .brand-section .upper-nav ul li {
          background-color: #fff;
          border-bottom: 1px solid #d5d5d5;
          display: block;
          height: auto;
          padding: 10px 0;
          text-align: center; }
          .header .brand-section .upper-nav ul li:first-child {
            padding-top: 0; }
          .header .brand-section .upper-nav ul li:after {
            display: none; }
    .header .brand-section .nav-collapse-btn {
      display: block; }
  .header .brand, .header .upper-nav {
    float: none;
    margin: 0 auto; } }
@media (min-width: 1049px) {
  .sticky {
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
    position: fixed;
    /*Override default*/
    height: 60px !important;
    transition: height .3s;
    z-index: 1020;
    top: 30px;
    border-bottom: 1px solid #d8d8d8;
    width: 100% !important; }
    .sticky .upper-nav ul {
      /*Override default*/
      line-height: 60px !important;
      transition: line-height .3s; }

  .upper-nav {
    display: block !important; } }
@media (max-width: 1050px) {
  .sticky {
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
    position: fixed;
    /*Override default*/
    height: 105px !important;
    transition: height .3s;
    z-index: 1020;
    top: 30px; }
    .sticky .upper-nav ul {
      /*Override default*/
      line-height: 105px !important;
      transition: line-height .3s; }
    .sticky .upper-nav {
      top: 89px !important; }
      .sticky .upper-nav ul {
        /*override mixin*/
        line-height: normal !important; }
    .sticky .brand {
      /*override default*/
      transition: height .3s;
      height: 60px !important; } }
@media (max-width: 1000px) {
  .gallery ul {
    justify-content: center; }
    .gallery ul li {
      margin-bottom: 20px;
      margin-right: 20px;
      width: 20%; } }
@media (max-width: 960px) {
  .left-col, .right-col {
    border: none !important;
    float: none;
    padding: 0 !important;
    width: 100% !important; }

  .section-title {
    font-size: 20px; }

  .nav-tabs .active a {
    border: 1px solid #ddd !important;
    border-radius: 2px !important;
    display: block; }
  .nav-tabs li {
    text-align: center;
    width: 100%; }

  .przebieg {
    padding-top: 25px !important; } }
@media (max-width: 800px) {
  .slider-section .container {
    width: 320px; }
  .slider-section .slider-text {
    /*Override default*/
    background-size: contain !important;
    margin-top: 0;
    width: 100%; }
    .slider-section .slider-text h1 {
      font-size: 28px; }
  .slider-section ul li:last-child .header-container {
    top: 0; }
  .slider-section ul li:last-child h1 {
    margin-top: 15px; }

  .upper-section .container {
    width: 100%; }

  .slider-section {
    height: 400px; }
    .slider-section .container {
      padding-top: 100px; }

  .red-btn {
    font-size: 14px; }

  .container {
    width: 320px; }

  #przygotowanie {
    background: none; } }
@media (max-width: 780px) {
  .footer .container {
    width: 320px; }
  .footer ul.inline {
    display: block; }
    .footer ul.inline li {
      display: block;
      width: 100%; } }
@media (max-width: 760px) {
  .upper-section {
    height: auto; }
    .upper-section p {
      float: none !important;
      text-align: center; }

  .header {
    padding-top: 65px; }
    .header .brand-section .upper-nav {
      margin-top: 50px; }

  .sticky {
    top: 60px; }
    .sticky .upper-nav {
      top: 53px !important; }

  .gallery ul {
    display: block; }
    .gallery ul li {
      max-width: 100%;
      width: 100%; }
      .gallery ul li .img-container img {
        margin: 0 auto; } }

/*# sourceMappingURL=default.css.map */
