/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-04-10, 08:00:29
    Author     : Tomasz Jacek
*/
@import 'mixins.scss';
@mixin position($position, $index) {
	position: $position;
	z-index: $index;
}
$brand-color: #2d3062;

body {
    margin: 0;
    padding: 0;
    font: {
        family: 'Helvetica', Arial, sans-serif;
        size: 16px;
    }
}
p {
    color: #555;
    font: {
        size: 13px;
    }
}

clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.offset-parent {
    @include position(relative, 1001);
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

ul {
    &.unstyled {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &.inline {
        li {
            display: inline-block;
        }
    }
    &.styled {
        list-style: disc !important;
        padding: {
            left: 15px;
        }
        li {
            display: list-item;
        }
    }
}
.left-col, .right-col {
    width: calc(50% - 25px);
}
.left-col {
    float: left;
}
.right-col {
    float: right;
}
.container {
    margin: 0 auto;
    width: 1310px;
}
h3 {
    &.icon-header {
        color: $brand-color;
        margin-top: 0;
    }
}
.red-btn {
    border-radius: 3px;
    background-color: #b02b2c;
    border: 1px solid #8b2121;
    color: #fff;
    display: inline-block;
    padding: 15px;
    font: {
        weight: 700;
    }
    transition: background .3s;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        background-color: #8b2121;
        color: #fff;
        text-decoration: none;
    }
}
.small-icons {
    /*Override for scalling animation*/
    height: 20px !important;
    width: 20px !important;
    i {
        font-size: 12px !important;
    }
}
.nav-collapse-btn {
    @include position(relative, 1002);
    color: #555;
    display: none;
    margin: 10px auto 18px;
    font: {
        weight: 600;
    }
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.upper-section {
    @include position(fixed, 1021);
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    padding: 0 2%;
    width: 100%;
    transition: all .3s;
    border: {
        bottom: 1px solid rgb(225, 225, 225);
    }
    a {
        color: $brand-color;
        font-weight: 600;
        text-decoration: none;
    }
    p {
        margin: 0;
    }
    i {
        color: green;
    }
}
.header {
    background-color: #fff;
    z-index: 1020;
    padding-top: 30px;
    width: 100%;
    .brand-section {        
        $height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2%;
        transition: height .3s;
        height: $height;
        width: 96%;
        .brand {
            background: url('../images/logo.png') no-repeat;
            background-position: top center;
            background-size: contain;
            height: 100%;
            width: 300px;
            a {
                display: block;
                height: 100%;
            }
            h1 {
                opacity: 0;
            }
        }
        .upper-nav {
            height: 100%;
            font: {
                weight: 600;
            }
            transition: line-height .3s;
            ul {
                height: 100%;
                line-height: $height;
                li {
                    @include position(relative, 1001);
                    padding: 0 5px;
                    height: 100%;
                    a {
                        &:after, &.active:after {
                            @include position(absolute, 1002);
                            background-color: #2997ab;
                            bottom: 0;
                            content: "";
                            left: 0;
                            margin: auto;
                            right: 0;
                            width: 0;
                            transition: width .3s;
                            height: 2px;
                        }
                        &:hover:after, &.active:after {
                            width: 100%;
                        }
                    }
                }
            }
            a {
                color: $brand-color;
                height: 100%;
                display: block;
                padding: 0 5px;
                text-decoration: none;
            }
        }
    }
}
.slider-section {
    height: 840px;
    .container {
        padding-top: 200px;
        text-align: center;
    }
    .slider-text {
        @include position(relative, 1001);
        display: inline-block;
        margin-left: -10000px;
        opacity: 0;
        transition: margin-left 1.5s, opacity 1.5s;
        height: 340px;
        width: 460px;
        ul {
            li {
                width: auto;
            }
        }
        .header-container {
            @include position(absolute, 1002);
            left: 0;
            right: 0;
            top: -40px;
            padding: 0 40px;
        }
        h1 {
            color: #fff;
            font: {
                size: 38px;
                family: 'Source Sans Pro';
                weight: 700;
            }
            line-height: 95%;
            text-align: center;
            text-transform: uppercase;
        }
    }
    ul {
        height: 100%;
        li {
            /*Override Cycle2*/
            background-position: center center !important;
            background-size: cover !important;
            height: 100%;
            width: 100%;
            &:last-child {
                .header-container {
                    top: 15px; 
                }
            }
            &.cycle-slide-active {
                .slider-text {
                    margin-left: 0 !important;
                    opacity: 1;
                    transition: margin-left 1.5s, opacity 1.5s;
                }
            }
        }
    }
}
.section-title {
    color: $brand-color;
    font: {
        size: 24px;
        weight: 300;
    }
    text-transform: uppercase;
    width: 80%;
}
.bolded {
    font: {
        weight: 700;
    }
}
.section {
    clear: both;
    padding: 35px 0;
    .left-col {
        padding-right: 25px;
    }
    .right-col {
        padding-left: 25px;
    }
    i, .text-container {
        display: inline-block;
        vertical-align: top;
    }
    p {
        line-height: 180%;
    }
}
.text-container {
    max-width: 78%;
}
.icon-container {
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    opacity: 0;
    height: 80px;
    width: 80px;
    transition: opacity .3s ease .2s;
    i {
        color: #fff;
        font: {
            size: 30px;
        }
    }
}
.przygotowanie, .przeciwskazania {
    width: calc(50% - 15px);
    ul {
        li {
            font: {
                size: 12px;
            }
            line-height: 180%;
            margin-top: 30px;
        }
        &.block {
            li {
                color: $brand-color;
                margin-top: 0;
            }
        }
    }
}
.przygotowanie {
    padding-right: 25px;
    .icon-container {
        background-color: #2997ab;
    }
}
#przygotowanie {
    padding: 0;
    .container {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.przeciwskazania {
    border-left: 1px solid #e5e5e5;
    padding-left: 35px !important;
    .icon-container {
        background-color: #b72f2f;
    }
}
.zakres {
    font: {
        size: 13px;
    }
    line-height: 180%;
    .panel {
        border-radius: 0;
        border-bottom: 0;
        margin-top: 0 !important;
        &:last-child {
            border-bottom: 1px solid #ddd;
        }
        a {
            text-decoration: none;
        }
    }
    .panel-body {
        background-color: rgb(225,225,225);
    }
    a {
        display: block;
    }
}
.gallery {
    ul {
        display: inline-flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            opacity: 1;
            transition: opacity .5s ease .3s;
            width: 10%;
            .img-container {
                overflow: hidden;
            }
            img {
                display: block;
                max-width: 100%;
            }
        }
    }
}
.footer {
    padding: 45px 0 55px;
    background-color: #ededed;
    h3 {
        color: $brand-color;
        font: {
            size: 13px;
        }
    }
    ul {
        &.inline {
            display: inline-flex;
            align-items: flex-start;
            justify-content: space-between;
            li {
                width: 24%;
            }
        }
        &.block-list {
            li {
                width: 100%;
            }
        }
        &.nav-list {
            display: block;
            li {
                display: block;
                width: 100%;
            }
        }
        li {
            color: #555;
            font: {
                size: 12px;
            }
            line-height: 180%;
        }
    }
    h3 {
        max-width: 80%;
    }
    a {
        color: #555;
        text-decoration: none;
    }
    .icon {
        i, a {
            display: inline-block;
        }
        i {
            font: {
                size: 15px;
                weight: 400;
            }
        }
    }
}
.copyright {
    background-color: #ededed;
    border-top: 1px solid #c2c6cc;
    color: #555;
    display: flex;
    align-items: center;
    height: 50px;
    font: {
        size: 10px;
    }
    a {
        color: #555;
        margin-left: 15px;
    }
}
/*Tabs*/
.nav-tabs {
    a {
        color: #555;
    }
    .active {
        a {
            /*Overwrite bootstrap*/
            background-color: #f2f2f2 !important;
        }
    }
}
.tab-content {
    background-color: #f2f2f2;
    border: 1px solid #d6d9d9;
    border-top: none;
    border-radius: 2px;
    padding: 20px;
}

.maps {
    background-color: #fff;
    padding-bottom: 65px;
    .embed-responsive-16by9 {
        height: 320px;
        padding-bottom: 0;
        margin: 30px 0 15px;
    }
    iframe {
        height: 320px;
        width: 100%;
    }
}

@import '_rwd.scss';