
.icon-down-open:before { content: '\0e80'; } /* '຀' */
.icon-phone:before { content: '\e800'; } /* '' */
.icon-info-circled:before { content: '\e801'; } /* '' */
.icon-doc-text:before { content: '\e802'; } /* '' */
.icon-book-open:before { content: '\e803'; } /* '' */
.icon-user-add:before { content: '\e804'; } /* '' */
.icon-block:before { content: '\e805'; } /* '' */
.icon-warning:before { content: '\e806'; } /* '' */
.icon-lamp:before { content: '\e807'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */